{% extends "twitter/base.html" %}
{% block content %}
  <h1>Twitter Home</h1>

  {% if latest_tweet_list %}
      {% for tweet in latest_tweet_list %}
        <article class="media content-section">
           <img class="img-circle" align="left" style="width:85px; height:85px" src="{{ tweet.author.profile.image.url }}">
          <div class="article-metadata">
            <a class="mr-2" href="#" style="margin-left: 15px">{{ tweet.author }}</a>
            <small class="text-muted">{{ tweet.pub_date }}</small>
          </div>
          <div class="media-body">
            <h3>
              <a class="article-title" href="/{{ tweet.id }}" style="margin-left: 15px">{{ tweet.tweet_text }}</a>
            </h3>
          </div>
        </article>
      {% endfor %}
  {% else %}
    <p>No tweets are available.</p>
  {% endif %}

{% endblock content %}
